@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap');

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    color: white;
    font-family: var(--fonte1);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #FDFAFF;
    --cor2: #E678B8;
    --cor3: #D52EA2;
    --cor4: #FFE954;
    --cor5: #86E5E5;

    --fonte1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font02: "Nerko One", cursive;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
    background-color: var(--cor4);
}

header > h1 {
    font-size: 2.5em;
    font-family: var(--font02);
    text-shadow: 1px 1px 1px black;
}

main {
    background-color: var(--cor5);

    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

main > h1 {
    font-size: 0.9em;
    padding: 10px;
    color: black;
}

div {
    flex: 1 1 0;

    background-color: var(--cor4);
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    width: 330px;
    height: 75px;
    border: 1px solid #459979;
}

div:hover {
    border: 1px solid #D52EA2;
    background-color: #d52ea33a;
    transition-duration: 0.9s;
    transform: translate(-2px, -2px);
}

div > p {
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: 20px;
}

div > p:hover {
    color: var(--cor3);
    transition-duration: 0.9s;
}

img {
    width: 75px;
    height: 75px;
}

img:hover {
    filter: drop-shadow(5px 5px 20px var(--cor2));
    transition-duration: 0.3s;
}

div > img, p {
    display: inline-block;
}

footer {
    padding: 10px;
    margin: 0px;
    font-size: 1em;
    background-color: var(--cor4);
}