@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');



html, body {
    color: white;
    font-family: var(--fonte1);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #BDAEBF;
    --cor2: #F285C1;
    --cor3: #A61263;
    --cor4: #8C0B52;
    --cor5: #0D0D0D;

    --fonte1: "Sometype Mono", monospace;
    --font02: "Nerko One", cursive;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
    background-color: var(--cor4);
    color: lightgray;
}

header > h1 {
    font-size: 3em;
    font-family: var(--font02);
    text-shadow: 1px 1px 1px black;
}

main {
    background-color: var(--cor5);

    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
}

main > h1 {
    font-size: 0.9em;
    padding: 10px;
    color: lightgray;
}

div {
    display: flex;
    justify-content: space-between;

    background-color: var(--cor4);
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    width: 330px;
    height: 95px;
    border: 1px solid #BDAEBF;
}

div:hover {
    border: 1px solid #D52EA2;
    background-color: #d52ea33a;
    transition-duration: 0.9s;
    transform: translate(-2px, -2px);
}

div > p {
    font-size: 0.8em;
    color: lightgray;

}

div > p:hover {
    color: white;
    transition-duration: 0.9s;
}

div > img {
    width: 75px;
    height: 75px;
}

div > img, p {
    align-content: center;
}

img:hover {
    filter: drop-shadow(5px 5px 20px var(--cor2));
    transition-duration: 0.3s;
}

div#video {
    display: block;
    margin: auto;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#video > p {
    display: block;
    text-align: center;
    font-size: 1em;
}

video {
    display: block;
    margin: auto;
    width: 200px;
    height: 350px;
    border-radius: 20px;
}

footer {
    background-color: var(--cor4);
    font-size: 0.6em;
    padding: 30px;
}

li {
    list-style-position: inside;
    list-style-type: none;
    color: lightgray;
}

li:hover {
    color: white;
    transition-duration: 0.9s;
}